@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.open-sans {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

body {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	background-color: #f0f0f5;
	margin: 20px;
	overflow: hidden;
}
h1 {
	color: #333;
	margin-bottom: 20px;
	font-size: 5vw;
}
table {
	width: 60%;
	margin: 0 auto;
	border-collapse: collapse;
	background: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
}
th, td {
	padding: 15px;
	text-align: center;
}
th {
	background-color: #4CAF50;
	color: white;
	font-size: 18px;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
img {
	width: 120px;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.data {
	color: #555;
}